@import "tailwindcss";


@theme {
  --font-sora: var(--font-sora);
  --font-inter: var(--font-inte);
}

*{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body{
  margin: 0;
  padding: 0;
}





/* Tailwind Styles */

h1{
  @apply text-6xl font-sora font-bold text-blue-600
}


.nav-comp{
  @apply text-blue-500 text-xl font-bold  
}

.joke-box{
  @apply w-full mx-auto max-w-xl text-center flex flex-col items-center justify-center gap-5  
  bg-blue-100 p-10 rounded-2xl
}

.joke-para{
  @apply font-sora text-base text-gray-600  text-justify
}

.joke-btn{
@apply rounded-xl bg-blue-300 p-4 text-white font-semibold text-base mt-4
cursor-pointer
}

.dic-cont{
  @apply w-full max-w-[40%] m-auto max-h-screen bg-purple-300 px-10 py-15
  flex flex-col gap-6 rounded-xl text-gray-700 font-sora mt-10
}

.result{
  @apply flex flex-col justify-start text-purple-700 font-sora 
}

.container{
 @apply flex justify-center items-center h-screen
}

.wrapper{
  @apply w-full max-w-md shadow-lg p-4 m-3 rounded-xl
}


